name: Publish Docker image

on:
  push:
    branches: [main]

jobs:
  push_to_registry:
    name: Push image 
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3 
      - name: Login
        run: docker login -u="aperuffo" -p="${{secrets.QUAY_SECRET}}" quay.io
      - name: Prepare
        run: yarn && yarn tsc && yarn build
      - name: Build Image
        run: docker build . -t quay.io/aperuffo/backstage-demo:latest
      - name: Push To quay.io
        id: push-to-quay
        run: docker push quay.io/aperuffo/backstage-demo:latest
